      *{
        margin: 0;
        padding: 0;
      }
      
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;800&display=swap');

      main section div img {
        height: 274px;
        width: 274px;
        margin: 1vw
      }
      
      main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 7vh;
      }
           
      .caixa_do_limao{
        margin: 0vw;
        height: 90vh;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        background-image: url("web/laranja\ azul\ recorte.png");
        background-size: cover;
        background-position: right;
        display: flex;
        justify-content: column;
        flex-direction: right;
        align-items: center;
      }
      
      .texto{
        font-weight: bolder;
        font-size: 4em;
        width: 90vw;
      }

      .texto_no_limao{
        margin-left: 5vw;
        width: 80vw;
        display: block;
      }
      
      .text{
        font-weight: lighter;
        font-size: 2em;
        margin-top: 3vw;
      }
              
      .img_main{
        margin-top: 3vw;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: space-between;
        flex-direction: center;
        flex-wrap: wrap;
      }
     header{
        height: 7vw;
        width: 100vw;
        background-color: #fff;
        display: flex;
        justify-content: center;
        position: fixed;
      }
      h1{
        font-size: 200%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin: 10px;      
      }
      
      ul{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        
      }
      
      nav{
        width: 78em;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      nav div{
        width: 30em;
      }
      li:hover{
        font-weight: bolder;
        font-size: larger;        
      }

      li{
        font-size: 120% ;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        margin: 10px;
      }
       
      main section div {
        display: flex;
      }
      
      a{
        text-decoration: none;
        color: black;
      }

      footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d3d3d3;
        height: 7vw;
      }
      .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
      }
      .img_rodape{
        width: 25%;
        display: flex;
        justify-content: space-between;
      }
      .rodape{
        display: flex;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        width: 65%;
        font-size: 1vw;
      }
      .copy{
        font-weight: bolder;
      }
      .referencia p{
        text-transform: capitalize;
        font-weight: lighter;
      }
      .img_rodape img{
        width: 2vw;
        height: 2vw;
        border-color: black;
        margin: 1vw;
      }